
.slot-machine {
	display: flex;
	background-image: linear-gradient(to bottom, #bbb, #fff, #bbb);
	align-items: center;
	justify-content: center;
	gap: 1vmin;
	color: black;
	padding: 2rem;
}

.slot {
	width: 30vmin;
	height: 30vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	--smear: url("");
	background-image: var(--smear), linear-gradient(to bottom, #aaa 0%, #ddd 5%, #fff, #ddd 95%, #aaa 100%);
	background-size: contain;
	border: 1vmin solid rgb(62, 62, 62);
	border-radius: 2vmin;
	box-shadow: inset 0 1vmin 4vmin 1vmin #210a,0 -.5vmin 2vmin #210a,0 .5vmin 2vmin #fffa;
	overflow: hidden;

	animation: fast .2s infinite, misalign .1333s infinite step-start;
	&[data-stop] {
		animation: stop-bg 1s cubic-bezier(.04,.96,.06,1);

		span {
			animation: stop 1s cubic-bezier(.04,.96,.06,1);
		}
	} 
}

.color {
	display: inline-block;
	width: 60%;
	height: 60%;
	border: 1vmin solid black;
	border-radius: 100%;
	background-color: var(--c);
	box-shadow: 0 1rem 10rem var(--c);
}

.btn {
	margin: 0 auto;
}

@keyframes fast {
	0% {
		--smear: url("$lib/assets/smears.svg#smear1");
	}
	17% {
		--smear: url("$lib/assets/smears.svg#smear2");
	}
	33% {
		--smear: url("");
	}
	50% {
		--smear: url("$lib/assets/smears.svg#smear3");
	}
	66% {
		--smear: url("$lib/assets/smears.svg#smear1");
	}
	83% {
		--smear: url("");
	}
}

@keyframes misalign {
	0% {
		background-position-y: -5px;
	}
	25% {
		background-position-y: 5px;
	}
	50% {
		background-position-y: -2px;
	}
	75% {
		background-position-y: 2px;
	}
}

@keyframes stop {
	0% {
		background-position-y: -800px;
		translate: 0 -80%;
		scale: .9 1.1;
	}
	100% {
		background-position-y: 0;
		translate: 0 0;
	}
}

@keyframes stop-bg {
	0% {
		background-position-y: -10vh;
	}
	100% {
		background-position-y: 0;
	}
}
